@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  font-family: nunito, sans-serif;
  background-color: #fbf1f1;
}

.hero {
  height: 260px;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  background-image: url("hero-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.hero h1 {
  font-size: 400%;
  position: relative;
  color: rgb(115, 29, 29);
}

.hero p {
  font-weight: bold;
  font-size: 150%;
  position: relative;
  color: rgb(88, 5, 34);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  font-size: larger;
  text-align: justify;
  line-height: 1.7;
}
.container {
  margin-top: 50px;
}

.margin {
  padding-top: 30px;
}

.padding {
  padding-top: 20px;
}

img {
  height: 320px;
  width: 530px;
}

.button-45 {
  background-color: #ffe7e7;
  border: 1px solid #fee0e0;
  border-radius: 11px;
  color: #d33a2c;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  transition: border 0.2s ease-in-out;
  padding: 10px 20px;
}

.button-45:active {
  color: #ffffff;
}

.button-45:hover {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

@media only screen and (max-width: 425px) {
  .hero h1 {
    font-size: 300%;
  }

  .hero p {
    font-size: 110%;
  }

  .margin {
    margin-top: 10px;
  }

  .padding {
    padding-top: 0;
  }
}
